h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	background-color : #F5F5F5;
	padding: 0; margin: 0;
	
}

#couverture {
		padding: 0; margin: 0;
		width:100%;
}

#carte {
	height:180px;
}
 
.card {
 		padding:0; 
		text-align:center;
		background-color: white;
		width:100%;
		border: 1px solid #E0E0E0;
		-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	
}

.card p {
	font-size:14px;
	color:gray;
}

.card h2 {
	font-size:24px;
	color:gray;
	text-align:center;
	font-weight:lighter;
}


.card h3 {
	font-size:18px;
	color:#6e8b3d;
	text-align:center;
	font-weight:lighter;
}

.card h4 {
	font-size:16px;
	color:#6e8b3d;
	text-align:center;
	font-weight:lighter;
}

.card a {
	color:#a2cd5a; 
	text-decoration:none;
}

#topbar {
		position: fixed;
		padding: 0; 
		margin-top: 0;
		width:100%;
		display: inline-block;
		border-bottom: 1px solid #E0E0E0;
}

#logobar {
		position: fixed;
		padding: 0; margin: 0;
		width:100%;
		background-color : #2196F3;
		height:30px;

}
#logo {
	padding: 0; margin: 0;
	text-align: right; /* centrer le texte */
	height:30px;

	
}

#logosolsys
{
	width:60px;
	height:30px;
	padding-right:10px;
	margin:0px;
	
}

#langue{
	width:15px;
	height:15px;
	
}

#part{
	width:60px;
	height:60px;
	
}


#logo {
	height:30px; 
	width:30px; 	
}

#nav {

	padding: 0;
	margin: 0;
	text-align: center; /* centrer le texte */
	background-color : white;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	
}
#nav  li {
	display: inline;
	list-style: none;
}

li{
	
	list-style: none;
}

#logo li {
	display: inline;
	list-style: none;
}

#logo a {
	display:inline-block;
	margin-right: 10;
	text-decoration: none;
 
}

#nav a {
	display:inline-block;
	padding: 30 30px;
	text-decoration: none;
    color: gray;
}

#nav a:hover { 
    color: #A5D152;
	background-color:#E0E0E0;
	
	
}

#content {
	
	width: 100%;
	background-color: #F5F5F5;
	margin: auto;  
	
	left:0;
	right: 0;
	top: 0;
	bottom: 0;

}

#footer {
	background-color : #F5F5DC;
 	padding: 60; 
	text-align:center;
	margin: auto;   
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
}

.res
{
	height:20;
	width:20;
	
}

.footerone
{
	width:100%;
	color: 	#BDB76B;
	position:left;
	
}


.footertwo 
{
	width:100%;
	border-bottom: 1px solid #E0E0E0;
	margin :20;
	
}

.footerthree{
	font-size:14;
	color: 	#BDB76B;
	
}

.footerthree td{
	width:600px;
 
	
}
